@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .card {
      @apply w-[350px] h-[110px] px-4 py-2 rounded-lg flex flex-col justify-between bg-[#ffffff] mb-2;
   }
   .card-header {
      @apply flex justify-between;
   }
   .card-body {
      @apply flex items-center justify-between w-full;
   }
   .card-footer {
      @apply flex items-center justify-between;
   }
   .stats {
      @apply text-[0.9rem] text-slate-600 flex gap-1 items-center font-[500] px-[2px];
   }
   .stats span {
      @apply text-[0.8rem];
   }
   .status {
      @apply w-[380px] h-auto pb-2  px-4 bg-slate-100 flex flex-col items-center rounded-lg m-4 font-[500] text-[0.745rem];
   }
   .status-header {
      @apply flex items-center justify-between w-full pt-4 pb-6 text-[1rem];
   }
   .status-header-count {
      @apply mr-1 px-2 text-[.8rem] rounded bg-slate-200;
   }
   .status-body {
      @apply overflow-y-scroll max-h-[100vh] rounded-lg px-2 custom-scrollbar overflow-x-hidden;
   }
   .custom-border {
      @apply cb;
   }
   .dashboard {
      @apply w-[90%] mx-auto mt-5 rounded overflow-scroll
       h-[650px] bg-slate-300 custom-scrollbar;
   }

   .dashboard > div {
      @apply flex overflow-x-scroll custom-scrollbar;
   }
}

.cb {
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
}

.custom-scrollbar::-webkit-scrollbar {
   width: 10px;
   height: 15px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background-color: #3b82f6;
   border-radius: 10px;
   border: 2px solid transparent;
   background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background-color: #2563eb;
}

.modal {
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   z-index: 1000;
   overflow-y: auto;
}

.modal-content {
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   width: 300px;
   height: 300px;
   text-align: center;
   overflow: hidden;
   position: relative;
   overflow-y: auto;
}

.close-btn {
   font-size: 24px;
   cursor: pointer;
   position: absolute;
   top: 10px;
   right: 10px;
}
